*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-ps {
    justify-content: center;
    margin:0 175px;
            
}

.cartoes {
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

.carousel-inner img {
    height: 70vh;
    
}

.carousel-item {
justify-content: center;
}

.container-fluid {
    margin-bottom: 50px;
}